# airt @ git+https://oauth2:${ACCESS_REP_TOKEN}@gitlab.com/airt.ai/airt.git@infobip-production
airt @ git+https://oauth2:${ACCESS_REP_TOKEN}@gitlab.com/airt.ai/airt.git@10162b82f4286c183c68e3701b240a1779fa6062
cffi==1.15.1
